header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 10px;
}

.headerItem {
  margin-right: 20px;
  font-size: 18px;
}

.right {
  display: flex;
  align-items: center;
}

.eth {
  height: 25px;
  margin-right: 10px;
}

.connectButton {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
